$primary-color: hsl(0, 0%, 100%);
$secondary-color: hsla(0, 0%, 100%, 0.75);
$stats-heading-color: hsla(0, 0%, 100%, 0.6);
$accent-color: hsl(277, 64%, 61%);

$card-background-color: hsl(244, 38%, 16%); 
$main-background-color: hsl(233, 47%, 7%);

$base-font-family: 'Inter', sans-serif;
$secondary-font-family: 'Lexend Deca', sans-serif;

$base-font-size: 15px;
$base-font-weight: 400;
$bold-font-weight: 700;


$breakpoint-tablet: 768px;